{% extends 'base.html' %}

{% block content%}

{% if user.is_superuser %}
<a href="{% url 'menu_create' %}">Create Your Cuisine</a>
{%endif%}
<h1>Menu </h1>

{% for menu in menu_list %}
<h2>{{menu.cuisine}}</h2>
{% for dish in menu.dish_set.all %}
<p>{{dish.name}} - {{dish.price}} BHD - {{dish.description}} </p>
{% load static %}
<img
            src="{% static dish.dish_image.url|cut:'main_app/static/' %}"
            width="100"
            height="100"
            alt="Dish Image">
  {% if  not user.is_superuser%}
  {% if user.is_authenticated %}
<form method="POST" action="{% url 'add_dish' dish.id %}" >
  {% csrf_token %}
  <button type="submit">➕</button>
</form>
{% endif %}

{% endif %}
{% if user.is_superuser %}
<a href= "{% url 'dish_delete' dish.pk %}">Delete {{dish.name}}</a>
<a href= "{% url 'dish_update' dish.pk %}">Update {{dish.name}}</a>
{%endif%}

{% endfor %}

{% if user.is_superuser %}
<a href = "{% url 'dish_create' menu.pk %}">Add A Dish</a>
<br>
<a href = "{% url 'menu_delete' menu.pk %}">Delete {{menu.cuisine}}</a>
</br>
{%endif%}


{% endfor %}


{% if buckets %}
  <div id="bucket-container">
    <h2 class='a' >Bucket</h2>

    {% for bucket in buckets %}
      <h3 class='a'>Items:</h3>

      {% for item in bucket.items.all %}
        <p>{{ item.name }} - {{ item.price }}  </p>
      {% endfor %}

      <p>Total: {{bucket.total_price}} BHD </p>

      {% if bucket.service_type == 'P' %}
  <form method="post" action="{% url 'service_type' bucket.id  %}" class='service'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
        <form method="post" action="{% url 'bucket_delete' bucket.id %}">
        {% csrf_token %}
        <button type='submit'>Clear Bucket</button>
      </form>
  </form>
{% else %}
  <p class='service'>Service Type : {{ bucket.get_service_type_display }}</p>
{% endif %}
{% if bucket.service_type != 'P' %}

{% if bucket.id not in bucket_added %}

    <form method='post' action='{% url 'checkout' bucket.id %}'>
    {% csrf_token %}
    <button type='submit'>Pay Online</button>
  </form>
  <form method="POST" action="{% url 'bucketToOrder' bucket.id %}">
      {% csrf_token %}
      <button type='submit'>Cash</button>
    </form>

  {% else %}
    <p>Added to Cart ✅</p>
  {% endif %}
  {% endif %}



    {% endfor %}
  </div>
{% endif %}



{%endblock%}
