{% extends 'base.html' %}

{% block content %}
{% for moment in moment_list %}
{% load static %}
<a href="{% url 'profile' moment.user.id %}">
<div style="display: flex; align-items: center; gap: 8px;">
    <img
        src="{% static user.profile.image.url|cut:'main_app/static/' %}"
        alt="User Image"
        style="width: 24px; height: 24px; border-radius: 50%; object-fit: cover;">
    <h3 style="margin: 0; font-size: 16px;">{{ moment.user.username }}</h3>
</div>

</a>

    <p>{{ moment.description }}</p>
      {% if moment.file %}
    {% if moment.file.url %}
      <video width="320" controls>
        <source src="{{ moment.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% endif %}
  {% endif %}

<br>
    {% endfor %}

{% endblock %}
