{% extends 'base.html' %}

{% block content %}
{% comment %}
------------This view is for Manager / Superuser ----------
{% endcomment %}
{% if user.is_superuser %}
<h1>Orders</h1>
{% comment %}
-------------Shows All orders from customer -----------
 {% endcomment %}
{% if order_list %}
{% for order in order_list %}

<h3>Ordered by {{order.bucket.user.username.capitalize}}</h3>
<h4>Service : {{order.bucket.get_service_type_display}}</h4>
    <h4>Cart:</h4>
    <ul>
      {% for item in order.bucket.items.all %}
        <li>{{ item.name }} ({{ item.price }} BHD)</li>
      {% endfor %}
    </ul>
    <p>Total = {{order.bucket.total_price}} BHD </p>
    {% if order.bucket.paid %}
<h4>Paid Online</h4>
{% else %}
<h4>Payment Later</h4>
{% endif %}

<p>Status: {{order.get_status_display}}</p>
<form method='post' action="{% url 'status_update' order.id %}">
  {% csrf_token %}
  {{form.as_p}}
  <button type= 'submit' >Change Status</button>
</form>


{% if completed_order %}
<h2> Completed Orders</h2>
{% for completedOrder in  completed_order %}

<h4>Date: {{completedOrder.created_at|date:"M d, Y H:i"}}</h4>
<h4>Customer: {{completedOrder.user}}</h4>

{% if completedOrder.payment %}
<p>Total Price - {{completedOrder.total}} BHD  (Paid Online)</p>
{% else %}
<p>Total Price - {{completedOrder.total}} BHD (Paid Cash)</p>
{% endif %}
<hr>


{% endfor %}
{% endif %}


{% endfor %}
{% else %}
<h3>No Orders IN Yet </h3>
<h4>Orders are on the way</h4>

{% if completed_order %}
<h2> Completed Orders</h2>
{% for completedOrder in  completed_order %}

<h4>Date: {{completedOrder.created_at|date:"M d, Y H:i"}}</h4>
<h4>Customer: {{completedOrder.user}}</h4>

{% if completedOrder.payment %}
<p>Total Price - {{completedOrder.total}} BHD  (Paid Online)</p>
{% else %}
<p>Total Price - {{completedOrder.total}} BHD (Paid Cash)</p>
{% endif %}
<hr>


{% endfor %}
{% endif %}
{% endif %}


{% else %}
{% comment %}
---------------- For Customer View -----------------
 {% endcomment %}

<h1>Cart</h1>
{% comment %}
-------------Shows logged in user current order-----------
 {% endcomment %}
{% if order_list %}
{% for order in order_list %}
  {% if order.bucket.user == request.user %}
    <h3>Status : {{order.get_status_display}}</h3>
    <ul>
    {% for item in order.bucket.items.all %}
      <li>{{ item.name }} - {{ item.price }} BHD</li>
    {% endfor %}
    </ul>

{% if order.bucket.paid %}
<h4>Paid Online</h4>
{% else %}
<h4>Payment Later</h4>
{% endif %}
<p>Total = {{order.bucket.total_price}} BHD </p>

<p>Service : {{order.bucket.get_service_type_display}}
{% if order.can_delete %}

  <form method="post" action="{% url 'order_cancel' order.id %}">
    {% csrf_token %}
    <p>Cancel order within 3 mins</p>
    <button type="submit">Cancel Order</button>
  </form>
  {% endif %}

      {% endif %}
{% endfor %}
{% else %}
<h2>Nothing in the Bucket yet</h2>
<a href='{% url 'menu_list' %}'>
  <h3>Checkout the menu</h3>
</a>
{% endif %}
{% if completed_order %}
  <h2>Completed Orders</h2>

  {% for completedOrder in completed_order %}
    {% if completedOrder.user == request.user.username %}

      <h4>Date: {{ completedOrder.created_at|date:"M d, Y H:i" }}</h4>
      <h4>Customer: {{ completedOrder.user }}</h4>

      {% if completedOrder.payment %}
        <p>Total Price - {{ completedOrder.total }} BHD (Paid Online)</p>
      {% else %}
        <p>Total Price - {{ completedOrder.total }} BHD (Paid Cash)</p>
      {% endif %}

      <hr>

    {% endif %}
  {% endfor %}
{% endif %}


{% endif %}
{% endblock %}
