{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <header>
    <nav>

        <li>
          {% if user.is_authenticated %}

        <a href={% url 'profile' user.id %}>Profile</a>
                <a href="{% url 'menu_list' %}">Menu </a>
                {% if user.is_superuser %}
          <a href="{% url 'order_list' %}">Orders </a>
          {% else %}
          <a href="{% url 'order_list' %}">Cart </a>
          {% endif %}
          <a href="{% url 'moment_list' %}">Moment </a>

          <form method='post' action='{% url 'logout' %}'>
          {% csrf_token %}
          <input type='submit' value='Logout'>
        </form>
        </li>
        {% else %}
        <li>
        <a href="{% url 'signup' %}">Sign Up</a>
        <a href="{% url 'login' %}">Login </a>
        <a href="{% url 'menu_list' %}">Menu </a>

        </li>
        {% endif %}

    </nav>
  </header>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
