{% extends 'base.html' %}

{% block content %}

<h1>Profile</h1>
<hr>
<h2> Personal details</h2>
<p>Name : {{object.username}} </p>
{% load static %}
          <img
            src="{% static user.profile.image.url|cut:'main_app/static/' %}"
            width="100"
            height="100"
            alt="User Image">
<p>Email : {{object.email}} </p>
<p>Password: {{ "********" }}</p>
<p>Address : {{object.profile.address}}</p>

<h3>{{object.username}}'s Moments</h3>
{% if moments %}
  {% for moment in moments %}
    {% if moment.file %}
      <video width="320" controls>
        <source src="{{ moment.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% else %}
      <p>No file for this moment.</p>
    {% endif %}
  {% endfor %}
{% else %}
  <h4>No Moments by User yet</h4>
{% endif %}

<li>
  {% if request.user.id == user.id %}
  <a href= "{% url 'user_update' user.id %}">Edit Profile</a>
  {% endif %}
</li>


{% endblock %}
