{% extends 'base.html' %}

{% block content %}
{% if user.profile.is_authenticated %}
<h1>Profile</h1>
<hr>
<h2> Personal details</h2>
<p>Name : {{object.username}} </p>
{% load static %}
          <img
            src="{% static user.profile.image.url|cut:'main_app/static/' %}"
            width="100"
            height="100"
            alt="User Image">
<p>Email : {{object.email}} </p>
<p>Password: {{ "********" }}</p>
<p>Position : {{object.profile.get_role_display}}</p>
<p>Address : {{object.profile.address}}</p>

<li>
  <a href= "{% url 'user_update' user.id %}">Edit Profile</a>
</li>
{% else %}
<h3>{{object.username}} has no Profile </h3>
{% endif %}
{% endblock %}
